$primary-color: #FFEFE7;
$secondary-color: #FFDAC6;
$terceary-color: #BABD8D;
$primary-text-color: #7C6A0A;
$quaternary-text-color: #FA9500;
$text-secondary-color: #E86424;
$font-stack: 'IBM Plex Sans', sans-serif;
$paragraph-size: 1.4rem;

@mixin flexCenter($direccion, $content, $align) {
  display: flex;
  flex-direction: $direccion;
  justify-content: $content;
  align-items: $align;
}

@mixin buttonStyle {
  button {
    background: none;
    border: none;
    cursor: pointer;

    &:hover {
      transform: scale(1.1);
    }
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  height: 100%;
}

body {
  font-family: $font-stack;
  background-color: $primary-color;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

nav {
  width: 100%;
  color: $primary-text-color;
  @include flexCenter(row, space-between, center);

  p {
    margin: 24px;
    font-size: $paragraph-size;
  }

  .navbar__icons {
    max-width: 180px;
    flex-grow: 1;
    padding-right: 30px;
    @include flexCenter(row, space-between, center);
    @include buttonStyle();
  }
}

.main-section {
  padding: 0 60px 60px 60px;
  height: auto;

  article {
    margin-top: 40px;
    width: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 60px;
    color: $primary-text-color;

    .article__impact-section {
      @include flexCenter(column, space-evenly, start);
      width: 80%;
      padding: 50px 0;
      row-gap: 15px;

      .info-section__title {
        font-size: 2.8rem;
      }

      .info-section__content {
        width: 100%;
        font-size: $paragraph-size;
      }

      @include buttonStyle();

      button {
        width: 200px;
        border-radius: 35px;
        font-weight: 600;
        font-size: 1.2rem;
        padding: 20px;
        background-color: $quaternary-text-color;
        color: white;
      }
    }

    .img-section {
      @include flexCenter(row, flex-end, center);

      .article__img-section {
        @include flexCenter(row, center, center);
        width: 100%;
        max-width: 550px;
        max-height: 680px;
        overflow: hidden;
        border-radius: 20px;
      }

      img {
        width: 100%;
        object-fit: contain;
        border-radius: 20px;
      }
    }
  }
}

h2 {
  color: $primary-text-color;
  font-size: 2rem;
  font-weight: 500;
  padding-bottom: 60px;
}

.product-section__healthcare {
  .healthcare__card-section {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    justify-content: start;
    gap: 50px;
    margin-bottom: 60px;

    .healtcare__product-card {
      position: relative;
      width: 100%;
      min-width: 250px;
      max-width: 300px;
      height: auto;
      border-radius: 8px;
      background-color: $secondary-color;
      color: $primary-text-color;
      @include flexCenter(column, center, center);
      overflow: hidden;

      .product-card__icon-container {
        svg {
          position: absolute;
          right: 10px;
          top: 10px;

          path {
            stroke: currentColor;
          }
        }
      }

      .product-card__product-image {
        width: 100%;
        height: 70%;
        @include flexCenter(column, start, center);
        overflow: hidden;

        img {
          width: 100%;
          height: auto;
        }
      }

      .product-card__info-container {
        flex-grow: 1;
        margin: 0 32px;
        @include flexCenter(column, center, start);
        font-size: .9rem;

        .product-card__title {
          font-weight: 500;
          font-size: 1.5rem;
        }
      }
    }
  }
}

.product-section__forniture {
  @extend .product-section__healthcare;

  .healthcare__card-section {
    .healtcare__product-card {
      background-color: $terceary-color;
    }
  }
}

.info-section__about-us {
  h2 {
    padding-bottom: 120px;
  }

  padding-bottom: 120px;

  .info-section__mision-section {
    @include flexCenter(row, space-evenly, center);

    .mision-section__earth-section,
    .mision-section__innovation-section {
      display: flex;
      width: 40%;
      align-items: center;
      justify-content: center;
      gap: 40px;

      img {
        width: 150px;
        object-fit: contain;
      }

      p {
        text-align: center;
        font-size: $paragraph-size;
        color: $text-secondary-color;
        min-width: 190px;
        max-width: 300px;
        font-weight: 500;
      }
    }

    .mision-section__innovation-section {
      p {
        max-width: 220px;
      }
    }
  }
}

.info-section__gallery {
  .gallery-container {
    width: 100%;
    display: grid;
    margin: 0 0 60px 0;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;

    .gallery-img {
      height: 560px;
      display: flex;
      align-items: center;
      overflow: hidden;
      border-radius: 8px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;

        &:hover {
          transform: scale(1.1);
          transition-duration: 0.3s;
        }
      }
    }
  }
}

.info-section__location {
  color: $text-secondary-color;

  h3 {
    padding-top: 40px;
    font-size: 2rem;
    font-weight: 400;
  }

  .location__map {
    @include flexCenter(column, center, center);
    padding-bottom: 50px;
    width: 100%;
    overflow: hidden;
    border-radius: 8px;

    img {
      object-fit: cover;
    }

    .map__info-container {
      @include flexCenter(column, start, start);
      width: 100%;

      p {
        font-size: $paragraph-size;
      }
    }
  }
}

footer {
  background-color: $quaternary-text-color;
  width: 100%;
  height: auto;
  color: white;
  padding: 40px;

  .footer__carrers-container {
    padding: 30px;

    h3 {
      font-size: 1.5rem;
      font-weight: 500;
      padding-bottom: 18px;
    }

    p {
      padding-bottom: 14px;
    }
  }

  .footer__social-media {
    @include flexCenter(row, center, center);
    gap: 40px;
    padding-bottom: 40px;
  }
}

@media (min-width: 801px) {
  .main__product-section {
    .product-section__healthcare {
      .healthcare__card-section {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 300px));
        justify-content: space-evenly;
        grid-auto-flow: row dense;
      }
    }
  }
}

@media (max-width: 1080px) {
  .mision-section__earth-section,
  .mision-section__innovation-section {
    flex-direction: column;
  }
}

@media (max-width: 800px) {
  .main-section {
    padding: 0 30px;

    article {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;

      .article__impact-section {
        width: 80%;

        .info-section__title {
          font-size: 2rem;
        }

        .info-section__content {
          width: 100%;
          font-size: 1rem;
        }

        button {
          zoom: 90%;
          align-self: center;
        }
      }
    }
  }

  .main__product-section {
    .product-section__healthcare {
      scroll-snap-type: x proximity;
      overscroll-behavior-x: contain;

      .healthcare__card-section {
        display: flex;
        flex-direction: row;
        overflow-x: scroll;
        justify-content: start;
      }
    }
  }
}

@media (max-width: 649px) {
  html {
    font-size: 14px;
  }

  .main-section {
    article {
      .article__impact-section {
        width: 100%;

        .info-section__title {
          font-size: 2rem;
        }

        .info-section__content {
          font-size: 12px;
        }

        button {
          zoom: 80%;
        }
      }
    }
  }

  .main__info-section {
    .info-section__mision-section {
      flex-direction: column;
    }

    .info-section__gallery {
      .gallery-container {
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }

  .info-section__location {
    h3 {
      font-size: 1.7rem;
    }

    .location__map {
      .map__info-container {
        p {
          font-size: 1rem;
        }
      }
    }
  }
}