* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  width: 100%;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "IBM Plex Sans", sans-serif;
  background-color: #FFEFE7;
}

nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #7C6A0A;
}
nav p {
  font-size: 1.4rem;
  margin: 24px;
}
nav .navbar__icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 180px;
  flex-grow: 1;
  padding-right: 30px;
}
nav .navbar__icons button {
  background: none;
  border: none;
  cursor: pointer;
}
nav .navbar__icons button:hover {
  transform: scale(1.1);
}

.main-section {
  height: auto;
  padding: 0 60px 60px 60px;
}
.main-section article {
  margin-top: 40px;
  width: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  color: #7C6A0A;
  margin-bottom: 60px;
}
.main-section article .article__impact-section {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: start;
  padding: 50px 0;
  row-gap: 15px;
}
.main-section article .article__impact-section .info-section__title {
  font-size: 2.8rem;
}
.main-section article .article__impact-section .info-section__content {
  font-size: 1.4rem;
  width: 100%;
}
.main-section article .article__impact-section button {
  background: none;
  border: none;
  cursor: pointer;
}
.main-section article .article__impact-section button:hover {
  transform: scale(1.1);
}
.main-section article .article__impact-section button {
  border-radius: 35px;
  width: 200px;
  font-weight: 600;
  font-size: 1.2rem;
  padding: 20px;
  background-color: #FA9500;
  color: white;
}
.main-section article .img-section {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.main-section article .img-section .article__img-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 550px;
  max-height: 680px;
  overflow: hidden;
  border-radius: 20px;
}
.main-section article .img-section img {
  width: 100%;
  border-radius: 20px;
  -o-object-fit: contain;
     object-fit: contain;
}

.main-section h2 {
  padding-bottom: 60px;
  color: #7C6A0A;
  font-size: 2rem;
  font-weight: 500;
}
.main-section .product-section__healthcare .healthcare__card-section, .main-section .product-section__forniture .healthcare__card-section {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  justify-content: start;
  gap: 50px;
  margin-bottom: 60px;
}
.main-section .product-section__healthcare .healthcare__card-section .healtcare__product-card, .main-section .product-section__forniture .healthcare__card-section .healtcare__product-card {
  position: relative;
  width: 100%;
  min-width: 250px;
  max-width: 300px;
  height: auto;
  border-radius: 8px;
  background-color: #FFDAC6;
  color: #7C6A0A;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.main-section .product-section__healthcare .healthcare__card-section .healtcare__product-card .product-card__icon-container svg, .main-section .product-section__forniture .healthcare__card-section .healtcare__product-card .product-card__icon-container svg {
  position: absolute;
  right: 10px;
  top: 10px;
}
.main-section .product-section__healthcare .healthcare__card-section .healtcare__product-card .product-card__icon-container svg path, .main-section .product-section__forniture .healthcare__card-section .healtcare__product-card .product-card__icon-container svg path {
  stroke: currentColor;
}
.main-section .product-section__healthcare .healthcare__card-section .healtcare__product-card .product-card__product-image, .main-section .product-section__forniture .healthcare__card-section .healtcare__product-card .product-card__product-image {
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  overflow: hidden;
}
.main-section .product-section__healthcare .healthcare__card-section .healtcare__product-card .product-card__product-image img, .main-section .product-section__forniture .healthcare__card-section .healtcare__product-card .product-card__product-image img {
  width: 100%;
  height: auto;
}
.main-section .product-section__healthcare .healthcare__card-section .healtcare__product-card .product-card__info-container, .main-section .product-section__forniture .healthcare__card-section .healtcare__product-card .product-card__info-container {
  margin: 0 32px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  font-size: 0.9rem;
}
.main-section .product-section__healthcare .healthcare__card-section .healtcare__product-card .product-card__info-container .product-card__title, .main-section .product-section__forniture .healthcare__card-section .healtcare__product-card .product-card__info-container .product-card__title {
  font-size: 1.5rem;
  font-weight: 500;
}
.main-section .product-section__forniture .healthcare__card-section .healtcare__product-card {
  background-color: #BABD8D;
}

.info-section__about-us {
  padding-bottom: 120px;
}
.info-section__about-us h2 {
  padding-bottom: 120px;
}
.info-section__about-us .info-section__mision-section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.info-section__about-us .info-section__mision-section .mision-section__earth-section,
.info-section__about-us .info-section__mision-section .mision-section__innovation-section {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.info-section__about-us .info-section__mision-section .mision-section__earth-section img,
.info-section__about-us .info-section__mision-section .mision-section__innovation-section img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 150px;
}
.info-section__about-us .info-section__mision-section .mision-section__earth-section p,
.info-section__about-us .info-section__mision-section .mision-section__innovation-section p {
  text-align: center;
  font-size: 1.4rem;
  color: #E86424;
  min-width: 190px;
  max-width: 300px;
  font-weight: 500;
}
.info-section__about-us .info-section__mision-section .mision-section__innovation-section p {
  max-width: 220px;
}

.info-section__gallery .gallery-container {
  width: 100%;
  display: grid;
  margin: 0 0 60px 0;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
}
.info-section__gallery .gallery-container .gallery-img {
  height: 560px;
  display: flex;
  align-items: center;
  overflow: hidden;
  border-radius: 8px;
}
.info-section__gallery .gallery-container .gallery-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.info-section__gallery .gallery-container .gallery-img img:hover {
  transform: scale(1.1);
  transition-duration: 0.3s;
}

.info-section__location {
  color: #E86424;
}
.info-section__location h3 {
  padding-top: 40px;
  font-size: 2rem;
  font-weight: 400;
}
.info-section__location .location__map {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
  width: 100%;
  overflow: hidden;
  border-radius: 8px;
}
.info-section__location .location__map img {
  -o-object-fit: cover;
     object-fit: cover;
}
.info-section__location .location__map .map__info-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: 100%;
}
.info-section__location .location__map .map__info-container p {
  font-size: 1.4rem;
}

footer {
  background-color: #FA9500;
  width: 100%;
  height: auto;
  color: white;
  padding: 40px;
}
footer .footer__carrers-container {
  padding: 30px;
}
footer .footer__carrers-container h3 {
  font-weight: 500;
  padding-bottom: 18px;
  font-size: 1.5rem;
}
footer .footer__carrers-container p {
  padding-bottom: 14px;
}
footer .footer__social-media {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding-bottom: 40px;
}

@media (min-width: 801px) {
  .main__product-section .product-section__healthcare .healthcare__card-section, .main__product-section .main-section .product-section__forniture .healthcare__card-section, .main-section .main__product-section .product-section__forniture .healthcare__card-section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 300px));
    justify-content: space-evenly;
    grid-auto-flow: row dense;
  }
}
@media (max-width: 1080px) {
  .mision-section__earth-section,
  .mision-section__innovation-section {
    flex-direction: column;
  }
}
@media (max-width: 800px) {
  .main-section article {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  .main-section article .article__impact-section {
    width: 80%;
  }
  .main-section article .article__impact-section .info-section__title {
    font-size: 2rem;
  }
  .main-section article .article__impact-section .info-section__content {
    font-size: 1rem;
    width: 100%;
  }
  .main-section article .article__impact-section button {
    zoom: 90%;
    align-self: center;
  }
  .main-section {
    padding: 0 30px;
  }
  .main-section .main__product-section .product-section__healthcare, .main-section .main__product-section .product-section__forniture {
    scroll-snap-type: x proximity;
    overscroll-behavior-x: contain;
  }
  .main-section .main__product-section .product-section__healthcare .healthcare__card-section, .main-section .main__product-section .product-section__forniture .healthcare__card-section {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    justify-content: start;
  }
}
@media (max-width: 649px) {
  html {
    font-size: 14px;
  }
  .main-section article .article__impact-section {
    width: 100%;
  }
  .main-section article .article__impact-section .info-section__title {
    font-size: 2rem;
  }
  .main-section article .article__impact-section .info-section__content {
    font-size: 12px;
  }
  .main-section article .article__impact-section button {
    zoom: 80%;
  }
  .main__info-section .info-section__mision-section {
    flex-direction: column;
  }
  .main__info-section .info-section__gallery .gallery-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .info-section__location h3 {
    font-size: 1.7rem;
  }
  .info-section__location .location__map .map__info-container p {
    font-size: 1rem;
  }
}/*# sourceMappingURL=main.css.map */