* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  width: 100%;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "IBM Plex Sans", sans-serif;
  background-color: #FFEFE7;
}

nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #7C6A0A;
}
nav p {
  font-size: 1.4rem;
  padding-left: 30px;
  margin: 24px;
}
nav .navbar__icons {
  display: flex;
  gap: 18px;
  padding-right: 30px;
}
nav .navbar__icons button {
  background: none;
  border: none;
  cursor: pointer;
}

.main-section article {
  margin-top: 60px;
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 70px;
  color: #7C6A0A;
}
.main-section article .main__article__impact-section {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-items: none;
  padding-top: 50px;
  row-gap: 15px;
}
.main-section article .info-section__title {
  font-size: 3rem;
}
.main-section article .info-section__content {
  font-size: 1.4rem;
}
.main-section article button {
  background: none;
  border: none;
  cursor: pointer;
}
.main-section article button {
  border-radius: 35px;
  width: 200px;
  font-weight: 600;
  font-size: 1.2rem;
  padding: 20px;
  background-color: #FA9500;
  color: white;
}
.main-section article section {
  width: 550px;
  height: 680px;
}
.main-section article section .main__article__img-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 680px;
  overflow: hidden;
  border-radius: 20px;
}
.main-section article section img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.main__product-section {
  height: auto;
  padding: 60px;
}
.main__product-section h2 {
  color: #7C6A0A;
  font-size: 2rem;
}
.main__product-section .product-section__healthcare h2, .main__product-section .product-section__forniture h2 {
  font-weight: 300;
  padding-bottom: 60px;
}
.main__product-section .product-section__healthcare .healthcare__card-section, .main__product-section .product-section__forniture .healthcare__card-section {
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: repeat(auto-fill, 320px);
  gap: 24px;
  grid-auto-flow: row dense;
}
.main__product-section .product-section__healthcare .healtcare__product-card, .main__product-section .product-section__forniture .healtcare__product-card {
  width: 320px;
  height: auto;
  border-radius: 8px;
  background-color: #FFDAC6;
  color: #7C6A0A;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}
.main__product-section .product-section__healthcare .healtcare__product-card .product-card__icon-container svg, .main__product-section .product-section__forniture .healtcare__product-card .product-card__icon-container svg {
  position: absolute;
  right: 10px;
  top: 10px;
}
.main__product-section .product-section__healthcare .healtcare__product-card .product-card__icon-container svg path, .main__product-section .product-section__forniture .healtcare__product-card .product-card__icon-container svg path {
  stroke: currentColor;
}
.main__product-section .product-section__healthcare .healtcare__product-card .product-card__product-image, .main__product-section .product-section__forniture .healtcare__product-card .product-card__product-image {
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 85%;
  overflow: hidden;
}
.main__product-section .product-section__healthcare .healtcare__product-card .product-card__product-image img, .main__product-section .product-section__forniture .healtcare__product-card .product-card__product-image img {
  width: 100%;
  height: auto;
}
.main__product-section .product-section__healthcare .healtcare__product-card .product-card__info-container, .main__product-section .product-section__forniture .healtcare__product-card .product-card__info-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main__product-section .product-section__forniture .healtcare__product-card {
  background-color: #BABD8D;
}

footer {
  background-color: #FA9500;
  width: 100%;
  height: 250px;
}

@media (max-width: 600px) {
  .main-section article {
    display: flex;
    flex-direction: column-reverse;
  }
}/*# sourceMappingURL=main.css.map */